<html>
<head>
      <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>

 <div class="container">
<nav>
    <img class="myPic" src="/image/me.jpeg" alt="profile picture">

<div class="userDetails">
<H1>Hussein</H1>
<h1>Abed</h1>
<span>sofeware engineering</span>
</div>
  <div class="home">
    <ion-icon name="school-outline"></ion-icon>
  </div>
  <div class="projects">
    <ion-icon name="folder-open-outline"></ion-icon>
  </div>
  <div class="contact">
    <ion-icon name="mail-outline"></ion-icon>
  </div>
  </nav>
</div>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>


<table>
  <img  src="/image/logo.png" alt="logo">
<tr>

                 <td><a href="index.hbs">Home</a></td>
                <td><a href="about.hbs">About me</a></td>
                <td><a href="projects.hbs">Projects</a></td>
                <td><a href="services.hbs">Services</a></td>
                <td><a href="contact.hbs">Contact Me</a></td>
           
</tr>
</table>








<h2>About me</h2>
<img class="myPic" src="/image/me.jpeg" alt="profile picture">
<table>
<tr>
<td>Name: </td>
<br>
<td>Hussein Abed</td><br>
<br>

</tr>
<tr>
<td valign="top">About me: </td>
<td>


Hello there. my name is Hussein Abed. Im a student at centennial college.im currently enrolled in software engineering technician... <br>
I dont have prevous experince in theis feiled and nevr got a job related to software enginering. <br>
i learn a lot throw the experance i got here from different friends having difrent clure.
</td>
</tr>
<tr>
<td>Here is my resume  </td>
<td><a href="file:///C:/Users/Hussein/OneDrive/Desktop/Assinment1/public/image/random.pdf">Click Here</a></td>
</tr>
</table>
</div>
</body>
</html>


<!--file name : about me  , student name: Hussein Abed , student id : 301157282 , date : 9/30/2022-->